body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
}

.carousel {
  overflow: hidden;
  position: relative;
}

.image-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
  position: relative;
  margin: 0 20px;
}

.image {
  width: 120px;
  height: 120px;
  margin: 0 8px;
  transition: transform 0.3s ease-in-out;
  opacity: 0.5;
}

.image.center {
  transform: scale(1.4);
  opacity: 1;
}

.image.side {
  transform: scale(0.7);
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: #fff;
  background-color: #333;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.arrow:hover {
  background-color: #555;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}
